{{page-title 'EmberFirstClassComponentTemplate'}}
<nav>
  <ul>
    <li>
      <LinkTo @route='index'>
        Index
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='route-a'>
        RouteA
      </LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}